.bag-icon{
    width: 90px;
    height: 124px;
}
.bag-heading{
    width: 90px;
height: 18px;
font-family: Encode Sans;
font-size: 15px;
font-weight: 500;
line-height: 16.25px;
letter-spacing: 0.1em;
color: rgb(30, 22, 15);
}
